<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="TestTask">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/test"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/WebContent/resources"/>
        <property name="java-output-path" value="/TestTask/build/classes"/>
        <property name="context-root" value="TestTask"/>
    </wb-module>
</project-modules>
